<!-- Updated Footer Section with Remix Icons -->
<footer class="footer">
    <div class="container">
      <div class="row">
        <!-- Platform -->
        <div class="col-md-3">
          <h6 class="footer-title">Platform</h6>
          <ul class="list-unstyled">
            <li><a href="#"><i class="ri-price-tag-3-line me-2"></i> Plans & Pricing</a></li>
            <li><a href="#"><i class="ri-user-line me-2"></i> Personal AI Manager</a></li>
            <li><a href="#"><i class="ri-pencil-line me-2"></i> AI Business Writer</a></li>
            <li><a href="#"><i class="ri-database-2-line me-2"></i> AI Data Processing</a></li>
          </ul>
        </div>
        <!-- Company -->
        <div class="col-md-3">
          <h6 class="footer-title">Company</h6>
          <ul class="list-unstyled">
            <li><a href="#"><i class="ri-building-line me-2"></i> About Us</a></li>
            <li><a href="#"><i class="ri-briefcase-line me-2"></i> Work With Us</a></li>
            <li><a href="#"><i class="ri-news-line me-2"></i> Blog & News</a></li>
          </ul>
        </div>
        <!-- Resources -->
        <div class="col-md-3">
          <h6 class="footer-title">Resources</h6>
          <ul class="list-unstyled">
            <li><a href="#"><i class="ri-book-line me-2"></i> Documentation</a></li>
            <li><a href="#"><i class="ri-tv-line me-2"></i> Free Demo</a></li>
            <li><a href="#"><i class="ri-megaphone-line me-2"></i> Press Conferences</a></li>
          </ul>
        </div>
        <!-- Legal -->
        <div class="col-md-3">
          <h6 class="footer-title">Legal</h6>
          <ul class="list-unstyled">
            <li><a href="#"><i class="ri-file-list-2-line me-2"></i> Terms of Service</a></li>
            <li><a href="#"><i class="ri-shield-user-line me-2"></i> Privacy Policy</a></li>
            <li><a href="#"><i class="ri-cookie-line me-2"></i> Cookies Policy</a></li>
            <li><a href="#"><i class="ri-database-line me-2"></i> Data Processing</a></li>
          </ul>
        </div>
      </div>
  
      <!-- Tweet Box -->
      <div class="row mt-4">
        <div class="col-md-3 offset-md-9">
          <div class="tweet-box d-flex">
            <i class="ri-twitter-line"></i>
            <div class="ms-2">
              <span>MaxWell</span> <br />
              <p>We’re just announced a new feature that would help you increase your experience of using Maxwell!</p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Footer Bottom -->
      <div class="footer-bottom mt-4 text-center">
        <p>&copy; Maxwell, 2023.</p>
        <div class="social-icons mt-2">
          <a href="#"><i class="ri-instagram-line me-3"></i></a>
          <a href="#"><i class="ri-facebook-box-line me-3"></i></a>
          <a href="#"><i class="ri-twitter-line"></i></a>
        </div>
      </div>
    </div>
  </footer>
  