<nav class="flex items-center justify-between px-10 h-20 border-b-2 border-gray-200 sticky top-0 bg-white">
  <a href="/" class="font-semibold text-2xl ">Bags.</a>
  <div class="flex items-center justify-between gap-5">
    <a href="/products/new">Create Product</a>
    <a href="">Explore</a>
    <a href="">Cart</a>
    <a href="">Profile</a>
  </div>
</nav>