<% layout("./layouts/boilerplate") -%>
    <div class="w-full h-screen justify-center flex flex-wrap flex-col items-center">
        <h1 class="mb-5 text-8xl font-bold"><%= err.statusCode %></h1>
        <div class="w-fit text-center p-5 bg-red-300 border-4 border-red-500 rounded-xl text-2xl font-semibold">
            <h1>
                <%= err.message %>
            </h1>
        </div>
    </div>