<% layout("./layouts/boilerplate") -%>

<body>
    <h3>Enter the details of product</h3>
    <form action="/products/new" method="post">
        <label for="name">Name</label>
        <input type="text" placeholder="Name" id="name" name="name" required> <br>

        <label for="brand">Brand</label>
        <input type="text" placeholder="brand" id="brand" name="brand" required> <br>

        <label for="image">Image</label>
        <input type="text" placeholder="Image" id="image" name="image"> <br>

        <label for="description">Description</label>
        <textarea type="text" placeholder="description" id="description" name="description" required></textarea> <br>

        <label for="price">Price </label>
        <input type="number" placeholder="price" id="price" name="price" required> <br>

        <label for="rating">Rating</label>
        <input type="text" placeholder="rating" id="rating" name="rating" required> <br>

        <button>Create Product</button>
    </form>
</body>
